.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;

    .image {
        width: 100%;
        height: 95%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }

    .collection-footer {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        .name {
            width: 90%;
            margin-bottom: 15px;
        }

        .price {
            width: 10%;
        }
    }
}

.img-container {
    overflow: hidden; //This is to make the hover transform not flow out the menu-item container, making a zoom in effect
    &:hover {
        cursor: pointer;
        //Any elecment when hovering with the class of .background-image inside menu-item will be enlarged
        & .background-image {
            transform: scale(1.2);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
    }
}

.modal.modal-wide .modal-dialog {
    width: 100%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}
